<mat-toolbar color="primary">
  <a routerLink="catalog">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>surfing</mat-icon>
    </button>
    <span>Surf Shop</span>
  </a>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Orders" type="button" (click)="goToOrders()">
    <mat-icon>shopping_bag</mat-icon>
  </button>
  <button mat-icon-button aria-label="Orders" type="button" (click)="goToChat()">
    <mat-icon>chat</mat-icon>
  </button>
  <button mat-icon-button aria-label="Profile" type="button" (click)="goToProfile()">
    <mat-icon>person</mat-icon>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>
