@use 'shared';

h2 {
  font-size: 2rem;
  margin: 10px;
}

.orders {
  @extend .column;

  &__list {
    @extend .column;
    gap: 20px;
    width: 500px;
  }

  app-list-item {
     width: 100%;
  }
}
